/* Theme Colors */

.light {
    --color-music-player-border: rgba(255, 255, 255, 0.1);
    --color-music-player-bg: rgba(255, 255, 255, 0.80);
    --color-soft-beige: rgba(255, 229, 215, 0.69);
    --color-body-bg: rgba(243, 244, 248, 1);
    --color-sidebar-bg: rgba(249, 249, 249, 1);
    --color-sidebar-item-bg: rgba(255, 195, 179, 255);
    --color-sidebar-item-bg-hover: rgba(220, 220, 220, 0.6);
    --color-primary-orange: rgba(255, 126, 58, 1);
    --color-shadow-music-player: rgba(16, 16, 16, 0.65);
    --color-searchbar-white: rgba(60, 60, 67, 0.6);
    --color-settings-divider: rgba(228, 226, 228, 1);
    --color-dark-grey: rgba(90, 93, 108, 1);
    --color-sidebar-category-font: rgba(74, 78, 86, 1);
    --color-brown-music-player-dot: rgba(186, 92, 42, 1);
    --color-secondary-orange: rgba(255, 236, 225, 1);
    --color-white-orange: rgba(255, 126, 58, 0.4);
    --color-tertio-orange: rgba(255, 126, 58, 0.6);
    --color-soft-gray: rgb(116, 110, 107);
    --color-dark: rgba(37, 39, 43, 1);
    --color-box-bg: rgba(255, 255, 255, 0.7);
    --color-grey-inactiv: rgba(153, 147, 143, 1);
    --color-darkglassy: rgba(0, 0, 0, 0.44);
    --label-music-verif: rgba(173, 173, 173, 1);
    --color-music-hover: rgb(229, 229, 229, 0.8);
    --color-music-activ: rgb(229, 229, 234);
}

/* Dark theme colors */
.dark {
    --color-music-player-border: rgba(255, 255, 255, 0.1);
    --color-music-player-bg: rgba(255, 255, 255, 0.80);
    --color-soft-beige: rgba(255, 229, 215, 0.69);
    --color-body-bg: rgba(243, 244, 248, 1);
    --color-sidebar-bg: rgba(249, 249, 249, 1);
    --color-sidebar-item-bg: rgba(255, 195, 179, 255);
    --color-sidebar-item-bg-hover: rgba(220, 220, 220, 0.6);
    --color-primary-orange: rgba(255, 126, 58, 1);
    --color-shadow-music-player: rgba(16, 16, 16, 0.65);
    --color-searchbar-white: rgba(60, 60, 67, 0.6);
    --color-settings-divider: rgba(228, 226, 228, 1);
    --color-dark-grey: rgba(90, 93, 108, 1);
    --color-sidebar-category-font: rgba(74, 78, 86, 1);
    --color-brown-music-player-dot: rgba(186, 92, 42, 1);
    --color-secondary-orange: rgba(255, 236, 225, 1);
    --color-white-orange: rgba(255, 126, 58, 0.4);
    --color-tertio-orange: rgba(255, 126, 58, 0.6);
    --color-soft-gray: rgb(116, 110, 107);
    --color-dark: rgba(37, 39, 43, 1);
    --color-box-bg: rgba(255, 255, 255, 0.7);
    --color-grey-inactiv: rgba(153, 147, 143, 1);
    --color-darkglassy: rgba(0, 0, 0, 0.44);
    --label-music-verif: rgba(173, 173, 173, 1);
    --color-music-hover: rgb(229, 229, 229, 0.8);
    --color-music-activ: rgb(229, 229, 234);
}